body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin: 10px;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/textured_paper.png");
}

h1 {
    font-size: 80px;
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 25px;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 50px;
    font-weight: 650;
    color: darkslategray ;
}

p {
    margin-bottom: 20px;
}

.container {
    margin: 20px 5% 0px 5%;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/groovepaper.png");
    padding: 20px;
    border: 20px solid transparent;
    border-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/circles-dark.png") 30 round;
}

.flexContainer {
    display: flex;
    justify-content: space-around
}

.instructions{
    width: 525px;
}

.scoreBoard {
    width: 150px;
    border: 2px solid #eee;
}

#scores {
    padding-left: 30%;
}

.counterContainer {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    justify-content: space-around;
}

.numberCounter {
    width: 300px;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/blu_stripes.png");
    border: 1px solid #eee;
    margin: 10px;
    padding: 20px;

}

.crystalsDiv {
    text-align: center;
}

.gameCrystal {
    margin:0px 10px;
}