body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin: 10px;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/textured_paper.png");
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

.container {
    margin: 20px 5% 0px 5%;
    background-color: white;
    padding: 20px;
}

.flexContainer {
    display: flex;
}

.instructions{
    flex-basis: 60%;
    padding-left: 5%;
}

.scoreBoard {
    flex-basis: 40%;
}

#scores {
    padding-left: 30%;
}

.crystalsDiv {
    text-align: center;
}

.gameCrystal {
    margin:0px 10px;
}